body {
  background-color: #e3cfe3;
}

.container-fluid {
  padding: 3% 8%;
}

#header {
  margin: 1em auto;
  max-width: 1200px;
}

#header h1 {
  font-family: Arial, Helvetica, sans-serif;
}

#header .home-button {
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (max-width: 420px) {
  #diagnosis-form {
    background-color: white;
    border-radius: 1em;
    padding: 24px 30px;
  }
}

@media only screen and (min-width: 420px) {
  #diagnosis-form {
    background-color: white;
    border-radius: 1em;
    padding: 24px 50px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

#diagnosis-form .row {
  margin: 0px;
  margin-bottom: 0.5em;
}

#diagnosis-form .title {
  font-weight: 400;
  font-size: 24px;
  display: block;
}

#diagnosis-form .title::after {
  font-weight: 400;
  font-size: 24px;
  content: " *";
  color: red;
}

#diagnosis-form label {
  margin-right: 15px;
}

#diagnosis-form input {
  margin-right: 5px;
}

#diagnosis-form .card {
  margin-bottom: 2em;
}
